<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>models</title>
    </head>
    <body>
        <h2>イジングモデル</h2>
        <a href="/">Back</a>
        <form action="/ising_model/simulate" method="post">
            <div>
                交換相互作用エネルギー
                <input type="number" value="0" step="0.1" name="exchange_enegy">
            </div>
            <div>
                外場の強さ
                <input type="number" value="0" step="0.1" name="external_field">
            </div>
            <div>
                温度
                <input type="number" value="0" step="0.1" name="tempature">
            </div>
            <input type="submit" value="submit">
        </form>
        <img src="{{
            url_for( 'ising_model_video',
            exchange_enegy=exchange_enegy,
            external_field=external_field,
            tempature=tempature
            )}}" width="640px">
    </body>
</html>
